@model DomainSite.Models.Post
<h3 class="pb-4 mb-4 font-italic border-bottom">
    @Model.TitleFull
</h3>

<div class="blog-post">
    <h2 class="blog-post-title">@Model.TitleFull</h2>
    <p class="blog-post-meta">@Model.DatePublished by <a href="#">@Model.AuthorName</a></p>

    @Html.Raw(Model.Body)

</div><!-- /.blog-post -->